[general]
logdir={{ logdir }}
#logconfig=config/logging.cfg
pidfile=burrow.pid
client-id=burrow-lagchecker
group-blacklist=^(console-consumer-|python-kafka-consumer-).*$

[zookeeper]
hostname={{ zookeeper_host }}
port={{ zookeeper_port }}
timeout=6
lock-path=/burrow/notifier

[kafka "{{ kafka_cluster_name }}"]
broker={{ kafka_broker_host }}
broker-port={{ kafka_port }}
zookeeper={{ zookeeper_host }}
zookeeper-port={{ zookeeper_port }}
zookeeper-path=/kafka-cluster
offsets-topic=__consumer_offsets

[tickers]
broker-offsets=60

[lagcheck]
intervals=10
expire-group=604800

[httpserver]
server=on
port=8000

#[smtp]
#server=mailserver.example.com
#port=25
#from=burrow-noreply@example.com
#template=config/default-email.tmpl

#[email "bofh@example.com"]
#group=local,critical-consumer-group
#group=local,other-consumer-group
#interval=60

#[httpnotifier]
#url=http://notification.server.example.com:9000/v1/alert
#interval=60
#extra=app=burrow
#extra=tier=STG
#template-post=config/default-http-post.tmpl
#template-delete=config/default-http-delete.tmpl
